            body {
                margin: 0px;
                overflow: hidden;
                background: linear-gradient(55deg, #4E75B9 30%, #5CBF98 90%);
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100vh;
            }
            
            .left-block {
                color: #eae8eb;
                background-color: #2b7896;
                width: 200px;
                height: 850px;
                overflow: auto;
                float: left;
                word-wrap: break-word;
                font-family: Helvetica;
                font-size: 8pt;
                padding: 0 20px;
                box-shadow: 0 0 5px rgba(66, 66, 66, 0.5);
            }
            
            p {
                margin-bottom: 20px;
            }
            
            img {
                border-radius: 50%;
                padding: 30px;
            }
            
            h1 {
                font-family: Helvetica;
                font-size: 12pt;
                margin-top: 10px;
                padding-left: 0px;
            }
            
            a {
                color:rgb(224, 229, 235); 

            }
            hr {
                border: none;
                background-color: rgb(114, 134, 153);
                color: rgb(224, 229, 235);
                height: 2px;
                margin-top: 0px;
            }
            
            .right-block {
                color: #2b7896;
                background-color: #eae8eb;
                width: calc( 100vw - 280px);
                height: 850px;
                word-wrap: break-word;
                float: left;
                padding: 0 20px;
                box-shadow: 0 0 5px rgba(66, 66, 66, 0.5);
                max-width: 1350px;
            }
            
            ul {
                padding-left: 4px;
                margin: 0;
            }
            
            li {
                display: inline;
                margin-right: 20px;
            }
            
            .name {
                margin: 45px;
                margin-left: 20px;
                display: inline-block;
            }
            
            .name h1 {
                font-size: 18pt;
                margin: 0;
                padding: 0;
            }
            
            .right-block hr {
                border: none;
                height: 2px;
            }
            
            table {
                border: none;
                border-collapse: separate;
                width: 60%;
                font-family: Helvetica;
                font-size: 11pt;
                font-weight: bold;
            }
            
            .experience td {
                text-align: left;
                width: 350px;
                vertical-align: text-top;
                padding-bottom: 25px;
            }
            
            .experience p {
                margin: 0px;
                font-size: 10pt;
            }
            
            .experience h1 {
                margin-top: 20px;
            }

            .professional {
                width: calc(50% - 100px);
                float: left;
                padding-right: 100px;;
            }

            .personal {
                width: calc(50% - 100px);
                float: right;
                padding-right: 100px;
            }

            .professional p {
                margin: 0px;
            }

            .container {
                width: 100%;
                height: 30px;
                background-color: gray;
                margin: 5px 0;
            }
            
            .skills-bar {
                text-align: right;
                padding-top: 0px;
                padding-bottom: 10px;
                color: white;
            }

            .html {
                width: 70%;
                background-color: #8bc1c9;
            }

            .css {
                width: 60%;
                background-color: #4b98a3;
            }

            .c {
                width: 60%;
                background-color: #166c78; 
            }

            .agile {
                width: 90%;
                background-color:#134a52;
            }

            .personal p {
                margin: 0px;
            }
            
            .creavity {
                width: 90%;
                background-color: #8bc1c9;
            }

            .com {
                width: 80%;
                background-color: #4b98a3;
            }

            .teamwork {
                width: 70%;
                background-color: #166c78;
            }
            
            .hardworking {
                width: 80%;
                background-color:#134a52;
            }

        